* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  top: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
}

.login-container .box {
  position: relative;
  padding: 0;
  margin: 0;
  width: 400px;
  height: 500px;
  margin: 40px;
  background: rgba(55, 76, 88, 0.226);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.295);
  border-radius: 20px;
  transform-style: preserve-3d;
  align-items: center;
}

.login-container .box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
  padding-bottom: 0.5rem;
}
.login-container .box:hover h1 {
  top: 30px;
  opacity: 1;
}
.login-container .box .button {
  position: absolute;
  bottom: 0;
  left: 40%;
  text-align: center;
  transform-style: preserve-3d;
  transform: translate(-50%, 0, 75px);
  color: #fff;
  background: rgba(55, 76, 88, 0.226);
  box-shadow: 0 20px 20px rgba(119, 105, 105, 0.295);
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}
.login-container .box:hover .button {
  bottom: 40px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.295);
}
[class*='login-input'] {
  background: transparent;
  outline: none;
  border: 0;
  font-size: 1.3rem;
  font-style: italic;
  color:rgba(0, 0, 0, 0.295);
  margin-top: 30px;
  margin-left: auto;
  right: 0;
  width: 80%;
  text-align: center;
}
.login-input-OK {
  text-align: center;
  margin-left: 40px;
  padding-top: 5em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.295);
  caret-color: #43662a;
}

.login-input-ERROR {
  text-align: center;
  margin-left: 40px;
  padding-top: 5em;
  border-bottom: 2px solid #db4437;
  caret-color: #db4437;
}
.errorBox {
  text-align: center;
  margin-left: 40px;
  padding-top: 2rem;
  height: 50px;
  color: #db4437;
  width: 80%;
}
.input-error-message {
  color: #db4437;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-container .box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  transition: 0.5s;
  z-index: 11;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
}
.login-container .box:hover .product {
  transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}
