<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="#{greetings(${username})}"></p><br>
<p>You bought the following items from our store:</p>
<table>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    <tr th:each="purchaseAmount:${purchase.purchaseAmounts}">
        <td th:text="${purchaseAmount.item.title}"></td>
        <td th:text="${purchaseAmount.item.price}"></td>
        <td th:text="${purchaseAmount.amount}"></td>
    </tr>
    <tr>
        <td></td>
        <td>Total price:</td>
        <td th:text="${purchase.totalPrice}"></td>
    </tr>
</table>

<p>Thank you for your contribution!</p><br>
<p th:text="#{regards}"></p>
<p th:text="#{signature}"></p> <br/>
</body>
</html>