html,
body {
  margin: 0;
  padding: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url('assets/background.jpg');
  background-size: 100% 100vh;
  background-attachment: fixed;
  background-size: cover
}

div.full-page-controls {
  display:none;
}
