* {
margin: 0;
padding: 0;
}
.header {
  
  display: flex;
  align-items: center;
  background-color: rgba(48, 40, 40, 0);
}
.header a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  color:rgb(73, 73, 216)
  
}
.header .headerLinks {
  margin-left: 50%;
  font-size:17px;
}
.pawicon{
  border-radius: 50px;
  box-shadow : 0 20px 20px rgba(0, 0, 0, 0.295);
  padding: 5px;
  background-color: white;

}
.header h1 {
  color: white;
  font-size: 1.7rem;
  color: rgb(34,34,155);
}
.header h2 {
  margin-left: 20px;
  text-decoration: underline;
  font-size: 1.7rem;
}
