@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
*{
  margin:auto;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
}
.store-wrapper{
  display: grid;
  grid-template-columns: 2fr 8fr;
  position: relative;
}
.store-wrapper .searchbar{
  grid-column:1/2;
  background-color: rgb(207,94,59);
  height: 100vh;
  width: 17%;
  position:fixed;
  top: 0;
  padding: 30vh 2vh;
}
.store-wrapper .searchbar .header{
  font-size: 25px;
}
.store-container{
  grid-column: 2/3;
  padding: 10px;
  margin: 10px;
  width: 70vh;
}
.store  {
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 5px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(20px, auto);
}
.store-container .welcome{
  grid-column: 1/4;
  margin-left:0%;
  text-align: left;
}
.store-container .welcome h2{
  font-size: 17px;
}

.store .item-info{
  margin: auto;
  height: 250px;
  padding: 30px;
  margin: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.295);
  font-size: 17px;
  background-color: rgba(55, 76, 88, 0.226);
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-auto-rows: minmax(50px, auto);
  justify-items: baseline;
  align-items: center;
  border-radius: 14px;
}
.store .item-info:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  background-color: rgb(207, 94, 59);
}
.store .item-image{
  grid-column: 1/2;
  min-width: 120px;
  grid-row:1/3;
  padding: 0;
  min-height: 57px;
}
.store .item-price{
  grid-column:2/3;
  grid-row:1/2;
  padding: 10px 10px 0px 10px;
  min-width: 65px;
  margin: 5px;
}
.store .item-details{
  grid-column:2/3;
  grid-row:2/3;
  padding: 0px 10px 10px 10px;
  margin: 5px;
}
.store .item-details:hover{
  background-color: rgba(55, 76, 88, 0.479);
  border-radius: 14px;
}
.store a{
  color: black
}
.store .item-title{
  grid-column:1/3;
  grid-row:3/4;
}
.store-container .pagination{
  grid-column: 1/4;
  justify-self: center;
}
.store-container .ant-pagination .ant-pagination-item{
  border-radius: 14px;
}
.store-container .ant-pagination .ant-pagination-options .ant-select-selector{
  border-radius: 14px;
}
.store-container .ant-pagination .ant-pagination-item-link{
  border-radius: 14px;
}
